body {
    margin: 0;
    padding: 0;
    background-color: rgb(247,247,248);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg {
    background-color: rgb(255,239,92);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 80px;
    margin: 5px;
    width: 85%;
    height: 40px;
    padding: 8px;
}

.navListContainer{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.navListContainer a, span {
    text-decoration: none;
    color: black;
    font-size: 12px;
}


.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.navLogo {
    width: 70px;
    height: 40px;
}

.price {
    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    margin-right: 5px;
    justify-content: center;
}

.price a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.sectionLogo {
    width: 80px;
    height: 50px;
}

.lastSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
    padding: 20px;
}

.sectionLogoContainer {
    background-color: white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.titleText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.loremContainer {
    display: flex;
}

.jobs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    height: 80px;
    width: 80%;
    padding: 5px;
}
.jobs div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobStatics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-center {
    text-align: center;
}

.money {
    font-weight: bolder;
    font-size: 15px;
}

.footerSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-top: 40px;
    padding: 10px;
    gap: 80px;
    align-items: center;
}
.bg-whites {
    background-color: white;
    width: 550px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    line-height: 30px;
   
}

.bg-blacks {
    color: white;
    background-color: black;
    width: 450px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    line-height: 30px;
}

.tracking-wider {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 350px;
}

.lorem{
    padding:0;
    margin: 0;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

.jobAchie {
    letter-spacing: 0.5px;
}
 
@media screen and (max-width:414px) {
    .main{
        height: 100%;
        width: 100%;
        padding: 30px;
    }
    .title {
        display: flex;
        gap: 30px;
       align-items: center;
       justify-content: center;
       width: 550px;
       border: 1px solid black;
    }
    .titleText{
        font-size: 18px;
        width: 150px;

    }

    .webDev{
        margin: 0;
        font-size: 12px;
        width: auto;
        text-wrap: wrap;
    }
    body{
        /* background-color: red; */
        height: 100vh;
    }

    .navbar {
        flex-direction: column;
        width: 500px;
        height: 350px ;
        justify-content: center;
        align-items:center;
        padding: 5px;
    }

    .navListContainer{
        flex-direction: row;
    }
    
    .navListContainer span {
        display: none;
    }

    .lastSection {
        width: 550px;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
    }

    .sectionLogoContainer{
        display: none;
    }
    .sectionLogo {
        width: 40px;
        height: 40px;
    }

    .jobs {
        display: grid;
        grid-template-rows: 3;
        background-color: inherit;
        gap: 10px;
    }

    .jobs div{
        width: 200px;
        height: 80px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    .lorem{
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    .footerSection{
        border: 1px solid white;
        height: fit-content;
    }

}  